<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="SocialMediaRecord"
            type="massey.geospider.persistence.dto.SocialMediaRecord" />
        <typeAlias alias="StatsPage"
            type="massey.geospider.persistence.dto.StatsPage" />
    </typeAliases>

    <environments default="geospider">
        <environment id="geospider">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url"
                    value="jdbc:mysql://localhost:3306/geospider" />
                <property name="username" value="root" />
                <property name="password" value="password" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/social-media-record-mapper.xml" />
        <mapper resource="mybatis/stats-page-mapper.xml" />
    </mappers>

</configuration>